* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Dibujando icono de carga */
.loader {
    border: 16px solid #9E9E9E;
    border-top: 16px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Aplicando rotacion a icono de carga */
@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes spin {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

#map {
    height: 500px;
    width: 100%;
}

.load {
    margin: auto;
    width: 50%;
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    background: #03A9F4;
    border-radius: 5px;
}

.load b {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    color: #fff;
}

.load p {
    color: #B3E5FC;
}

.route {
    text-align: center;
    background: #03A9F4;
    padding: 20px;
}

.route h1 {
    color: #fff;
    margin-bottom: 20px;
}

.route select {
    padding: 5px;
    border-radius: 3px;
    border: none;
    color: #212121;
}

.route label {
    color: #B3E5FC;
    margin-left: 10px;
}

.route button {
    border: none;
    padding: 10px;
    margin-left: 20px;
    background: #9E9E9E;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
}

.route i {
    margin-right: 10px;
}

@media only screen and (max-width: 400px) {
    .route label {
        display: block;
        margin: auto;
    }
    
    .route select {
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .route button {
        margin: auto;
    }
    
    #map {
        width: 100%;
        height: 600px;
    }
}